nav, a, button {
    min-width: 48px;
    min-height: 48px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

hr {
  border: 2px #7d97ad solid;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

header {
  width: 100%;
  height: 100px;
}

#header-logo {
  width: 70px;
  height: 70px;
  margin: 15px;
  float: left;
}

#header-title {
  float: right;
  text-align: right;
  text-transform: uppercase;
}

#header-name {
  font-weight: 100;
  font-size: 3.0em;
  margin: 15px 15px 0 0;
}

#header-job {
  margin: 0 15px;
}

#cover-image {
  width: 100%;
  margin: 20px 0;
}

#featured-work-section {
  width: 100%;
  order: 2;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#featured-work-section-title {
  width: 100%;
  order: 0;  /* Flexbox order under #featured-work-section */
  color: #7d97ad;
  margin-left: 10px;
  font-weight: 400;
  font-size: 2.0em;
}

.featured-work-title {
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
  margin: 10px 0;
}

.featured-work-url {
  text-align: center;
  font-size: 0.8em;
  margin: 0;
}

#first-work {
  width: 33.33%;
  order: 1;  /* Flexbox order under #featured-work-section */
}

#second-work {
  width: 33.33%;
  order: 2;  /* Flexbox order under #featured-work-section */
}

#third-work {
  width: 33.33%;
  order: 3;  /* Flexbox order under #featured-work-section */
}
